{% extends 'base.html.twig' %}

{% block title %}Service | Monvoisin.fr{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
    href="{{ asset('/css/pageOneService.css') }}"
    integrity=""
    crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/navbarUser.css">
{% endblock %}
{% block body %}
  {% include 'composants/navBarUser.html.twig' %}
  <div class="container">
    <div class="d-flex justify-content-center cardService">
      <div class="mb-3" id="cardService">
        <div class="card-body border customCardBody rounded">
        <div class="d-flex">
         <div> 
        <p class="mr-4 ml-4 mt-2 textShadow"> {{ service.typeService.name }} </p>
        </div>
        <img src="{{ service.image }}"
            class="card-img-top rounded col-8"
            style="width:450px" />
        </div>   
        <div>
            <h3 class="card-title mt-4
            ">
              {{ service.name }}
            </h3>
              
              <p class="descriptionService">
                {{ service.description }}
              </p>
              <div class="d-flex justify-content-between"> 
              <p class="fontStyle">
                Durée du service : {{ service.duration.duration }} minutes
              </p>
              <p class="fontStyle" >
                Status du service : {{ service.status }}
              </p>
              </div>
              
              <p class="createdBy">
                Service créé par <span class="fontStyle">{{ service.user.firstname }} {{ service.user.lastname }} </span>le {{ service.createdAt|date('d/m/Y \\à\\ g:ia') }}
              </p>
         
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-4">

           <p style="font-size:1.5em">Espace commentaires : </p> 
            {% for comment in comments %}
              <div class="container mb-2 commentUser" id="{{ comment.id }}">
                <div class="row">
                  <div class="col-8">
                    <div class="card card-white post">
                      <div class="">
                        <div class="float-left image"></div>
                        <div class="">
                          <div class=""></div>
                        </div>
                      </div>
                      <div class="post-description">
                      <div class="d-flex justify-content-center "> 
                        <p class="col-11">
                          {{ comment.message }}
                        </p>
                        {% if comment.userFrom.id == app.user.id %}
                        <button class="deleteComment" style="border: none; background-color:white" onclick="deleteComment({{ comment.id }})"> <span style="color:red">  <i class="fas fa-times col-1 mt-1"></i> </span></button>
                        {% endif %}</div>
                        <p class="text-muted time float-right"
                          style="font-size:12px">
                          écrit par <a href="#">
                            {{ comment.userFrom.lastname }}
                            {{ comment.userFrom.firstname }}
                          </a> Le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:i:s') }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}


            <form name="formComment" method="POST" enctype="multipart/form-data" class="formUpdate">
             {{ form_label(formNewComment.message, null,  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
            {{ form_widget(formNewComment.message , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
            
            {{ form_widget(formNewComment.save, {'attr': {'class' : ' btn btn-success mt-4' }}) }} 
            </form>
</div>
{% include 'composants/footer.html.twig' %}

{% endblock %}
{% block javascripts %}
  <script src="{{ asset('/js/comments.js') }}"></script>
{% endblock %}
