{% extends 'base.html.twig' %}

{% block title %}
  Hello ServiceController!
{% endblock %}

{% block body %}
  

{% if app.user %}
  {% include 'composants/navBarUser.html.twig' %}
{% else %}
  {% include 'composants/navbarAccueil.html.twig' %}
{% endif %}

{{dump(services)}}
  <div class="container" style="margin-top:100px">
    {# the contents of this variable are displayed on the web page #}
    <label>
      Filtre Status du service / Type de service
    </label>
    <input class="m-5" id="myChoice" type="text" />


   
    {% for service in services %}
      <a href="{{ path('servicePage', {id: service.id}) }}">
        <div class="card mb-3" id="cardService">
          <img src="{{ service.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              Titre du service : {{ service.name }}
            </h5>
            <p>
              Nom : {{ service.user.firstname }} {{ service.user.lastname }}
            </p>
            <p>
              Description : {{ service.description }}
            </p>
            <p id="serviceChoice">
              Status du service : {{ service.status }}
            </p>
            <p id="serviceChoice">
              Type du service : {{ service.typeService.name }}
            </p>
            <p>
              Durée du service proposé : {{ service.duration.duration }} minutes
            </p>
            <p>
              Date de creation : {{ service.createdAt|date('d/m/Y \\a\\ g:ia') }}
            </p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('/js/services.js') }}"></script>
{% endblock %}
