{% extends 'base.html.twig' %}

{% block title %}
  Hello ServiceController!
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/service.css">
{% endblock %}

{% block body %}
  

{% if app.user %}
  {% include 'composants/navBarUser.html.twig' %}
{% else %}
  {% include 'composants/navbarAccueil.html.twig' %}
{% endif %}


  <div class="container" style="margin-top:100px">
    {# the contents of this variable are displayed on the web page #}

    {% if app.user.city is defined %}
        {{dump(app.user.city)}}
        {{dump(service)}}


        




    {% endif %} 

    <label>
      Filtre par catégories
    </label>

    
    <select class="form-control form-control-lg" id="myChoice">
      {% for categorie in categories %}
        
          <option>{{ categorie.name }}</option>

      {% endfor %}
    </select>

  
    <div class="container" id="cardChoice">

      {% for service in services %}
      {% for categorie in categories %}
      <a href="{{ path('servicePage', {id: service.id}) }}">
        <div class="card mb-3"  name="{{ categorie.name }}">
          <img src="{{ service.image }}" class="card-img-top" alt="..." />
          <div class="card-body" >
            <h5 class="card-title" >
              Titre du service : {{ service.name }}
            </h5>
            <p>
              Nom : {{ service.user.firstname }} {{ service.user.lastname }}
            </p>
            <p>
              Description : {{ service.description }}
            </p>
            <p>
              Status du service : {{ service.status }}
            </p>
            <p>
              Type du service : {{ service.typeService.name }}
            </p>
            <p>
              Durée du service proposé : {{ service.duration.duration }} minutes
            </p>
            <p>
              Date de creation : {{ service.createdAt|date('d/m/Y \\a\\ g:ia') }}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
    {% endfor %}








    </div>
    

   

  </div>



{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ asset('/js/services.js') }}"></script>
{% endblock %}
