{% extends 'base.html.twig' %}

{% block title %}
  Hello ServiceController!
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/service.css" />
  <link rel="stylesheet" href="/css/navbarUser.css" />
{% endblock %}

{% block body %}
  {% if app.user %}
    {% include 'composants/navBarUser.html.twig' %}

    <div class="container" style="margin-top:100px;" >
            <div class="m-3 d-flex justify-content-around">
              <label class="col-4 d-flex justify-content-center">
                <h3>Filtre par catégories :</h3>
              </label>
              <select class="col-4 d-flex justify-content-center form-control form-control-lg" id="myChoice">
                    {% for categorie in categories %}
                      <option >
                        <p class="option">{{ categorie.name }}</p>
                      </option>
                    {% endfor %}
              </select>
            </div>
             



      <div class="container" id="cardChoice">
      {% if services|length > 0 %}
        {% for service in services %}    
  
              <div class="card mb-3"
                name="{{ service.subcategory.category.name }}" id="">
                <div class="m-5 d-flex justify-content-center">
                  <img src="{{ service.image }}" class="col-8 card-img-top" alt="..." />
                </div>
                
                <div class="card-body message">
                  <h5 class="card-title">
                    Titre du service : {{ service.name }}
                  </h5>
                  <p>
                    Nom : {{ service.user.firstname }} {{ service.user.lastname }}
                  </p>
                  <p>
                    Description : {{ service.description }}
                  </p>
                  <p>
                    Status du service : {{ service.status }}
                  </p>
                  <p>
                    Type du service : {{ service.typeService.name }}
                  </p>
                  <p>
                    Durée du service proposé : {{ service.duration.duration }} minutes
                  </p>
                  <p>
                    Date de creation : {{ service.createdAt|date('d/m/Y \\a\\ g:ia') }}
                  </p>
                </div>
                <div class="container d-flex justify-content-end">
                  <a class="btn btn-light" href="{{ path('servicePage',{id: service.id})}}" role="button">Acceder au service</a>
                  <a class="btn btn-light cacher" id="{{ service.id }}" onclick="myfunction('{{ service.id }}')"  role="button"><i class="fas fa-times"></i></a>
               
                </div>
              </div>
        {% endfor %}

      {% elseif services|length == 0  %}
        <div class="container d-flex justify-content-center align-items-center" id="message" style="height: 60vh;">
        <h1>Il n'y a pas de service actuellement</h1>
        <h3> <a  href='{{ path('serviceAdd', {id: app.user.id}) }}'>Ajouter un service</a></h3>
        </div>
      {% endif %}



      </div>
    </div>
{% endif %}
   {% include 'composants/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
   


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ asset('/js/services.js') }}"></script>
{% endblock %}
