{% extends 'base.html.twig' %}

{% block title %}
  Hello ServiceController!
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/service.css">
{% endblock %}

{% block body %}
  




{% if app.user %}
  {% include 'composants/navBarUser.html.twig' %}


  {% if app.user.city is defined  and app.user.city == serviceUser.user.city%}
    Services proposés à {{serviceUser.user.city}}
  {% endif %} 
  
{% else %}
  {% include 'composants/navbarAccueil.html.twig' %}
  {{dump(user)}}
{% endif %}






  <div class="container" style="margin-top:100px">
    {# the contents of this variable are displayed on the web page #}
    <label class="customLabel">
      Filtre Status du service / Type de service
    </label>
    <input class="m-5 customInput" id="myChoice" type="text" />


   
    {% for service in services %}

      {% if app.user.city is defined  and app.user.city == serviceUser.user.city%}
      <a href="{{ path('servicePage', {id: service.id}) }}" class="customLink">
        <div class="card mb-3 customCard" id="cardService">
          <img src="{{ service.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              <span class="titreH5">Titre du service</span>  : {{ service.name }}
            </h5>
            <p>
              Nom : {{ service.user.firstname }} {{ service.user.lastname }}
            </p>
            <p>
              Description : {{ service.description }}
            </p>
            <p id="serviceChoice">
              Status du service : {{ service.status }}
            </p>
            <p id="serviceChoice">
              Type du service : {{ service.typeService.name }}
            </p>
            <p>
              Durée du service proposé : {{ service.duration.duration }} minutes
            </p>
            <p>
              Date de creation : {{ service.createdAt|date('d/m/Y \\a\\ g:ia') }}
            </p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
  </div>



{% endblock %}

{% block javascripts %}
  <script src="{{ asset('/js/services.js') }}"></script>
{% endblock %}
