{% extends 'base.html.twig' %}

{% block title %}
  Services | Monvoisin.fr
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="css/service.css" />
  <link rel="stylesheet" href="/css/navbarUser.css" />
{% endblock %}

{% block body %}
  {% if app.user %}
    {% include 'composants/navBarUser.html.twig' %}

    <div class="container-fluid d-flex justify-content-around" style="min-height:60vh; margin-top:100px;" >


            <div class="col-2 d-flex flex-column m-3 d-flex justify-content-center" style="height: 60vh;">
                <label class="d-flex justify-content-center">
                  <h3>Filtre par catégories :</h3>
                </label>
                <select class=" form-control form-control-lg" id="myChoice">
                      {% for categorie in categories %}
                        <option >
                          <p class="option">{{ categorie.name }}</p>
                        </option>
                      {% endfor %}
                </select>

                <div class="m-3 d-flex justify-content-center" id="passerMessage">
       
                </div>

            </div>
             
      <div class="container col-8" id="cardChoice" >
        

      {% if services|length > 0 %}
        {% for service in services %}    
              <div class="card mb-3 shadow"
                name="{{ service.subcategory.category.name }}" id="{{ service.id }}">
               
                  <div class="m-3 d-flex justify-content-between">
                    
                     <h3>Service crée par : {{ service.user.firstname }} {{ service.user.lastname }}</h3> 
                    
                    <a class="btn btn-light cacher text-danger"  onclick="hideService('{{ service.id }}')"  role="button"><span class="text-danger"><i class="fas fa-times"></i></span></a>
                  </div>
                  <div class="d-flex justify-content-center">
                    <img src="{{ service.image }}" style="max-width:55vw ;" class="col-6 mb-5 card-img-top" alt="..." />
                  </div>
                <div class="card-body message" id="carte" style="max-height:45vh;">
                  <div class="m-2 d-flex flex-column align-items-center">
                      <h5 class="card-title">
                        {{ service.name }}
                      </h5>

                        <a class="m-5 btn btn-success" href="{{ path('servicePage',{id: service.id})}}" role="button">Acceder au service</a>
                      <p>
                        Type du service : {{ service.typeService.name }}
                      </p>
                      <p>
                        Durée du service proposé : {{ service.duration.duration }} minutes
                      </p>
                  </div>
                </div>
                <div class="container  d-flex justify-content-end">
                  <p class="m-2">
                    Date de creation : {{ service.createdAt|date('d/m/Y H:i:s') }}
                  </p>
                </div>
              </div>
        {% endfor %}

      {% elseif services|length == 0  %}
        <div class="container d-flex justify-content-center align-items-center" id="message" style="height: 60vh;">
        <h1>Il n'y a pas de service actuellement</h1>
        <h3> <a  href='{{ path('serviceAdd', {id: app.user.id}) }}'>Ajouter un service</a></h3>
        </div>
      {% endif %}



      </div>
    </div>
{% endif %}
   {% include 'composants/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
   


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ asset('/js/services.js') }}"></script>
{% endblock %}
