{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-5">            
            <div class="col-10 text-left">
                <h6 class="mb-0"><strong>{{ user.Lastname|e }}&nbsp;{{ user.Firstname|e }}</strong></h6>
                <strong class="text-black-50">{{ user.Email|e }}</strong>
            </div>
            <div class="col-2 text-right" width="150px">
                <img src="{{user.image}}" class="rounded-circle" width="100px" height="100px" alt="">
            </div>
        </div>
        <div class="row mt-0">
            <div class="col text-center text-black-50">
                <h2><i class="fas fa-envelope-open-text"></i>&nbsp;<strong>MAILBOX</strong></h2>
                Messagerie interne 
            </div>        
        </div>          
        <div class="row my-2 d-flex flex-row justify-content-center align-items-center">
            <div class="col-10 p-3" style="background-color: #f2f2f2;">
                <h3 class="text-center"><strong>Modification des données</strong></h3>                
                
                {{ form_start(mailboxForm) }}

                {{ form_widget(mailboxForm) }}

                <hr>
                <div class="text-right">
                    <a href="{{ path('mailbox') }}" class="btn btn-secondary mb-1">Abandonner</a>
                    <button type="submit" class="btn btn-primary mb-1">Modifier</button>
                    <!-- <a href="/user/mailbox/" class="btn btn-primary mb-1">Ajouter</a> -->
                </div>

                {{ form_end(mailboxForm) }}

            </div>        
        </div>        
    </div>
    <br><br><br>

{% endblock %}