<div class="container-fluid text-black" style="background-color: #e6e6e6;">
    <div class="container my-0 py-4">
        <div class="row d-flex flex-row justify-content-between align-items-start">       
            <div class="col-3">
                <h5> Nous contacter </h5>
                <p>
                    67 Route des Romains, <br>
                    Le Mathis,<br> 
                    204 avenue de Colmar <br>
                    67100 Strasbourg <br>
                    Telephone: 0 XX YY ZZ
                    
                </p>
            </div>
            <div class="col-3">                
                <h5 class="text-black"><a href="{{ path('index')}}" class="text-dark text-decoration-none">Formation</a></h5>
                <img src="{{asset ("img/formation.jpg")}}" alt="">
            </div>                    
            <div class="col-3">
                <h5><a href="{{ path('apropos')}}" class="text-dark text-decoration-none">Qui sommes-nous</a></h5>
                <a href="{{ path('apropos')}}" class="text-dark text-decoration-none"><img src="{{asset ("img/groupe-voisins.jpg")}}" alt=""></a>
            </div>
            <div class="col-3">
                <h5>Reseaux sociaux</h5>
                <ul style="list-style-type: square;">
                    <li><a href="/" style="text-decoration: none; color: #000;">Facebook</a></li>    
                    <li><a href="/" style="text-decoration: none; color: #000;">Twitter</a></li>    
                    <li><a href="/" style="text-decoration: none; color: #000;">YouTube</a></li>    
                    <br>
                    <a href="{{path('faqs')}}" class="btn btn-sm btn-success">FAQs</a>
                    <a href="{{path('contactAdd')}}" class="btn btn-sm btn-warning">Nous contacter</a>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer bg-dark border-bottom border-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-white d-flex flex-row justify-content-center align-items-center py-2">
                <small>Copyright © 2020 Équipe du <strong>VOISIN</strong>. Tous droits réservés </small>                    
            </div>            
        </div>     
    </div>        
</footer>	
<!--end bottom footer--> 