<header id="top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="main-nav">
            <div class="container">
                <a href="{{path ("index")}}" class="navbar-brand"> <img src="{{asset ("img/logo-monvoisin-blanc.png")}}" alt="logo" width="250px"> </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-1">
                            <a href="{{ path('serviceGet') }}" class="nav-link">Services en cours</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a href="{{ path('userProfile', {id: user.id}) }}" class="nav-link">Mon profil</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a href=" {{path ("faqs")}} " class="nav-link">FAQs</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a href=" {{path ("contactAdd")}} " class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a href=" {{path ('app_logout')}} " class="nav-link">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>