{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<div class="container">
<p>Page ajout service</p>

<form name="user" method="POST" enctype="multipart/form-data">
            {{ form_label(formService.type_service, 'Quel est le type de service') }}
            {{ form_widget(formService.type_service , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
        
            {{ form_label(formService.name, 'Nom du service',  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
            {{ form_widget(formService.name , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}

            {{ form_label(formService.description, 'Description du service',  {'label_attr' : {'class' : ' w-2/8 text-golden pr-3'}}) }}
            {{ form_widget(formService.description , { 'attr': { 'class' : '  w-full bg-light rounded shadow'}}) }}

            {{ form_label(formService.duration, 'Durée du service en minutes',  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
            {{ form_widget(formService.duration , { 'attr': { 'class' : '  bg-light rounded shadow p-2'}}) }}

            {{ form_label(formService.sub_category, 'Dans quelle rubrique s\'inscrit mon service :') }}
            {{ form_widget(formService.sub_category , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
            


            {{ form_widget(formService.save, {'attr': {'class' : ' btn btn-danger' }}) }} 
          </form>

 </div>
{% endblock %}