{% extends 'base.html.twig' %}

{% block title %}Dashboard | Monvoisin.fr{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
    href="{{ asset('/css/pageOneService.css') }}"
    integrity=""
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/navbarUser.css" />
{% endblock %}
{% block body %}
  {% include 'composants/navBarUser.html.twig' %}
  <div style="margin-top:150px" class="d-flex justify-content-center mb-4">
    <a href=" {{
      path(
        'serviceAdd',
        {
          id: user.id
        }
      )
      }} "
      class="btn btn-info">
      Ajouter un service
    </a>
  </div>
  {% for flashMessage in app.session.flashbag.get('Message') %}
    <div class="alert alert-success col-3 ml-4">
      <strong>Success!</strong> {{ flashMessage }}
    </div>
  {% endfor %}
  <div class="dashboardBody ">
    <table class="table table-sm ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            Service créé le
          </th>
          <th scope="col">
            Nom
          </th>
          <th scope="col">
            Description
          </th>
          <th scope="col">
            Durée
          </th>
          <th scope="col">
            Catégorie
          </th>
          <th scope="col">
            Sous-Catégorie
          </th>
          <th scope="col">
            Status
          </th>
          <th scope="col">
            Image
          </th>
          <th scope="col">
            Accèder à la page du service
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for serviceUser in servicesUser %}
          <tr>
            <td>
              {{ serviceUser.createdAt|date('d/m/Y') }}
            </td>
            <td>
              {{ serviceUser.name }}
            </td>
            <td>
              {{ serviceUser.description }}
            </td>
            <td>
              {{ serviceUser.duration.duration }} minutes
            </td>
            <td>
              {{ serviceUser.subcategory.category.name }}
            </td>
            <td>
              {{ serviceUser.subcategory.name }}
            </td>
            <td>
              {{ serviceUser.status }}
            </td>
            <td>
              <img src="{{ serviceUser.image }}" alt="" style="width:150px" />
            </td>
            <td>
              <a class="btn btn-light" href="{{path('servicePage',{
                  id: serviceUser.id
                }
              )
              }}"
              role="button">
              Acceder au service
            </a>
            </td>   
            <td>
              <a class="btn btn-warning"
                href="{{
                path(
                  'serviceMod',
                  {
                    id: serviceUser.id
                  }
                )
                }}">
                Modifier le service
              </a>
            </td>
            <td>
              <a class="btn btn-danger"
                href=" {{
                path(
                  'serviceDelete',
                  {
                    id: serviceUser.id
                  }
                )
                }}">
                Supprimer le service
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'composants/footer.html.twig' %}
{% endblock %}
