{% extends 'base.html.twig' %}
{% block stylesheets %}



{% endblock %}



{% block body %}

{{ dump(ranking) }}

<div class="container-fluid d-flex justify-content-around">
        <div class="container col-3"></div>
    
    
    
        <div class="container col-6 d-flex flex-column justify-content-center" style="height: 90vh;">

            <form name="form" method="POST" enctype="multipart/form-data">
                
                        <div class="mt-4">
                    {{ form_label(form.image, 'Image') }}
                    {{ form_widget(form.image , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                    <div class="mt-4">
                        {{ form_label(form.firstname, 'Firtsname') }}
                        {{ form_widget(form.firstname , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                    </div>
                        <div class="mt-4">
                            {{ form_label(form.lastname, 'Lastname') }}
                            {{ form_widget(form.lastname , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                        
                
                
                        <div class="mt-4">
                            {{ form_label(form.postalCode, 'Code postal') }}
                            {{ form_widget(form.postalCode , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                    
                
                        <div class="mt-4">
                            {{ form_label(form.city, 'City') }}  
                            {{ form_widget(form.city, {'attr': {'class': 'choixId'}}) }}
                        </div>
                        
                        <div class="mt-4">
                            {{ form_label(form.email, 'Email') }}
                            {{ form_widget(form.email , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                            </div>
                        
                            <div class="mt-4">
                                {{ form_label(form.plainPassword, 'Password') }}
                                {{ form_widget(form.plainPassword , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                            </div>
                    
                         
                        
                            <div class="mt-4">
                                {{ form_widget(form.save, {'attr': {'class' : ' btn btn-danger' }}) }} 
                            </div>   
    
            </form>
    
        </div>
    
    
        <div class="container col-3 d-flex align-items-center justify-content-center" style="height: 90vh;">
       
       
           
                <table class="table">
                    <thead>
                            <a  id="tableBody"></a>
                    </thead>
                </table>
            
             
        </div>
    
    
    
    
    
    
</div>
   


{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
    <script src="{{ asset('/js/formInscription.js') }}"></script>
  

{% endblock %}
