{% extends 'base.html.twig' %}
{% block stylesheets %}




<style>
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>


{% endblock %}




{% block body %}


<h2>Autocomplete</h2>

<p>Start typing:</p>

<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Country">
  </div>
  <input type="submit">
</form>





<div class="container-fluid d-flex justify-content-around">

    <div class="container col-3 d-flex align-items-center justify-content-center" style="height: 100vh;">


        {{ form_start(form) }}
        {{ form_row(form.image) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_label(form.postalCode, 'Code Postal') }}
        {{ form_widget(form.postalCode, {'attr': {'class': 'choixId'}}) }}
        {{ form_row(form.city) }}
        {{ form_row(form.category_affinity) }}
        {{ form_row(form.sub_cat_affinity) }}

    </div>


    <div class="container col-3 d-flex align-items-center justify-content-center" style="height: 100vh;">
   
   
       
            <table class="table" id="divCheckbox" style="display:none;">
                <thead>
                        <a  id="tableBody"></a>
                </thead>
            </table>
        
         
    </div>









    <div class="container col-3 d-flex flex-column justify-content-center" style="height: 100vh;">


    

    
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        

        
        {{ form_end(form) }}

    </div>


</div>
   


{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
    <script src="{{ asset('/js/formInscription.js') }}"></script>
  

{% endblock %}
