{% extends 'base.html.twig' %}


{% block body %}


{% if app.user %}
  {% include 'composants/navBarUser.html.twig' %}

    <div class="container d-flex align-items-center justify-content-center" style="height: 90vh;">
        <h1>Vous êtes déjà connecté</h1>
    </div>
</div>

{% else %}
  {% include 'composants/navbarAccueil.html.twig' %}


<!-- <div class="container-fluid d-flex justify-content-around"> -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Bienvenue !</h1>
        <p>Merci d'utiliser ce formulaire d'inscription pour vous créer un compte utilisateur sur le site Monvoisin.fr</p>
    </div>
</div>
<div class="container">
        <!-- <div class="row mt-4">
            <div class="col">
                <h1>Bienvenue sur la page d'inscription</h1>
            </div>
        </div> -->

    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center" >
          
            <form name="form" method="POST" enctype="multipart/form-data">
                
                        <div class="mt-4">
                    {{ form_label(form.image, 'Image') }}
                    {{ form_widget(form.image , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                    <div class="mt-4">
                        {{ form_label(form.firstname, 'Prénom') }}
                        {{ form_widget(form.firstname , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                    </div>
                        <div class="mt-4">
                            {{ form_label(form.lastname, 'Nom') }}
                            {{ form_widget(form.lastname , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                        <div class="mt-4">
                            {{ form_label(form.postalCode, 'Code postal') }}
                            {{ form_widget(form.postalCode , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                        <div class="mt-4">
                            {{ form_label(form.city, 'Ville') }}  
                            {{ form_widget(form.city, {'attr': {'class' : ' bg-light rounded shadow p-2'}}) }}
                        </div>
                        
                        <div class="mt-4">
                            {{ form_label(form.email, 'Email') }}
                            {{ form_widget(form.email , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                            </div>
                        
                            <div class="mt-4">
                                {{ form_label(form.plainPassword.first, 'Password') }}
                                {{ form_widget(form.plainPassword.first , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                            </div>
                    
                            <div class="mt-4">
                                {{ form_label(form.plainPassword.second, 'Repeat Password') }}
                                {{ form_widget(form.plainPassword.second , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}
                            </div>
                        
                            <div class="mt-4">
                                {{ form_widget(form.save, {'attr': {'class' : ' btn btn-success btn-block mb-4' }}) }} 
                            </div>   
            </form>
            {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
    
        </div>
    
    
        <div class="col-6 d-flex align-items-center justify-content-center">
       
       
           
                <table class="table">
                    <thead>
                            <a  id="tableBody"></a>
                    </thead>
                </table>
            
             
        </div>
    </div>
</div>
    
    
    
    
    
    
<!-- </div> -->
   
{% endif %}
{% include 'composants/footer.html.twig' %}

{% endblock %}

{% block javascripts %}

  

{% endblock %}
