{% extends 'base.html.twig' %}

{% block title %}Profil | Monvoisin.fr{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
    href="{{ asset('/css/profileUser.css') }}"
    integrity=""
    crossorigin="anonymous" />
    
    <link rel="stylesheet" href="/css/navbarUser.css">
{% endblock %}

{% block body %}
{% include 'composants/navBarUser.html.twig' %}

<div class="container userProfileDiv">
  <div class="row mb-4">
    <h2 class="textCustom">
      Bienvenue {{ user.firstname }}
    </h2>
    <div class="col text-right">
      <a href="{{path('mailbox')}}" class="btn mr-4 btn-warning ">Messagerie</a> 
      <a href="{{ path('dashboardUserService', {id: user.id}) }} " class="btn btn-warning">Accéder au dashboard des services</a>
    </div>
  </div>
  
  <div class="row">    
    <div class="col-6 userImage textCustom">
      <img src="{{ user.image }}" alt="" style="width:300px" class="rounded" />    
      <p class="textCustom mt-2"> 
        {# Rank {{ user.ranking.name }} #}
      </p>

    </div>
    <div class="col-6">
      <h3>Mes informations</h3>  <br>
      Nom : {{ user.lastname }} <br>
      Prénom : {{ user.firstname }} <br>
      mail : {{ user.email }} <br>
      Ville : {{ user.city }} <br>
      Code Postal : {{ user.postalCode }} <br>
  
      <button type="button" id="formUpdateUser" class="btn btn-info mt-3">
      Changer mes informations
      </button>


      <form name="user" method="POST" enctype="multipart/form-data" class="formUpdate">
    
        {{ form_label(formUser.lastname, null,  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
        {{ form_widget(formUser.lastname , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}

        {{ form_label(formUser.firstname, null,  {'label_attr' : {'class' : ' w-2/8 text-golden pr-3'}}) }}
        {{ form_widget(formUser.firstname , { 'attr': { 'class' : '  w-full bg-light rounded shadow'}}) }}

        {{ form_label(formUser.city, null,  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
        {{ form_widget(formUser.city , { 'attr': { 'class' : ' bg-light rounded shadow p-2'}}) }}

        {{ form_label(formUser.postalCode, null,  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
        {{ form_widget(formUser.postalCode , { 'attr': { 'class' : '  bg-light rounded shadow p-2'}}) }}

        {{ form_label(formUser.email, null,  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
        {{ form_widget(formUser.email , { 'attr': { 'class' : '  bg-light rounded shadow p-2'}}) }}

        {{ form_label(formUser.image, "Changer mon image",  {'label_attr' : {'class' : ' text-golden pr-3'}}) }}
        {{ form_widget(formUser.image , { 'attr': { 'class' : ' hidden image-input' }}) }}



        {{ form_widget(formUser.save, {'attr': {'class' : ' btn btn-success mt-2' }}) }} 
      </form>  
    </div>
  </div>
</div>
{% include 'composants/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('/js/profileUser.js') }}"></script>
{% endblock %}
