{% extends 'base.html.twig' %}

{% block title %}Page choisir{% endblock %}

{% block stylesheets %}

<!-- import de la feuille de style -->
  <link rel="stylesheet"
    href="{{ asset('/css/chooseTypeServices.css') }}" />

{% endblock %}
{% block body %}

<!-- Section entête du site -->

<div class="container-fluid header mb-5">
    <div class="container">
        <a href="{{path ("index")}}" class="logo"> <img src=" {{asset ("img/logo.png")}} " alt="logo" width="50px"> </a>
        <a href="{{path ("index")}}" class="nomDuSite">Monvoisin.fr</a>
    </div>
</div>

<!-- Section texte explicatif des 2 boutons de la page -->

<section class="txtInfo">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="">
                    C'est ici que tout commence ! Que souhaitez-vous faire ?
                </p>
            </div>
        </div>
    </div>

</section>


<!-- Section call-to-action  -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-lg btn-block"> <a href="{{ path('serviceAdd', {id: user.id}) }}" class="text-white">J'ai besoin d'un service</a> </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-lg btn-block"> <a href="#" class="text-white">Je rend service</a> </button>
        </div>
    </div>
</div>

{% endblock %}
