{% extends 'base.html.twig' %}

{% block title %}Choix du service | Monvoisin.fr{% endblock %}

{% block stylesheets %}

<!-- import de la feuille de style -->
  <link rel="stylesheet"
    href="{{ asset('/css/chooseTypeServices.css') }}" />

    <!-- import de la feuille css navbarUser -->
        <link rel="stylesheet" href="/css/navbarUser.css">

{% endblock %}
{% block body %}
{% include 'composants/navBarUser.html.twig' %}

<!-- Section entête du site -->

<div class="container-fluid header mb-5 mt-3">
    <div class="container">
        <a href="{{path ("index")}}" class="logo"> <img src=" {{asset ("img/logo-monvoisin.png")}} " alt="logo" width="250px"> </a>
    </div>
</div>

<!-- Section texte explicatif des 2 boutons de la page -->

<section class="txtInfo">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="">
                    Merci de vous être inscrit à Monvoisin. <br>
                    A present faites votre choix...
                </p>
            </div>
        </div>
    </div>

</section>


<!-- Section call-to-action  -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger btn-lg btn-block"> <a href="{{ path('serviceAdd', {id: user.id}) }}" class="text-white">J'ai besoin d'un service</a> </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-lg btn-block"> <a href="{{ path ('serviceGet') }}" class="text-white">Je rend service</a> </button>
        </div>
    </div>
</div>

{% endblock %}
