{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet"
    href="{{ asset('/css/faq.css') }}"
    integrity=""
    crossorigin="anonymous" />    
{% endblock %}

{% block title %}
  FAQS | Monvoisin.fr
{% endblock %}

{% block body %}
  {% if app.user %}
    {% include 'composants/navBarUser.html.twig' %}
  {% else %}
    {% include 'composants/navbarAccueil.html.twig' %}
  {% endif %}

  <div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <h2>
          FAQs
        </h2>
      </div>
    </div>

    <div class="row my-5 d-flex flex-row justify-content-center align-items-center">
      <div class="accordion" id="accordionFAQ">
        {% for faq in faqs %}
          <div class="card">
            <div class="card-header" id="headingFAQ{{faq.id}}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left"
                  type="button"
                  data-toggle="collapse"
                  data-target="#faq{{faq.id}}"
                  aria-expanded="true"
                  aria-controls="{{faq.id}}">
                  {{ faq.question }}
                </button>
              </h2>
            </div>

            <div id="faq{{faq.id}}"
              class="collapse"
              aria-labelledby="headingFAQ{{faq.id}}"
              data-parent="#accordionFAQ">
              <div class="card-body">
                {{ faq.answer }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- - Appel à l'action │ link -->
    <div class="text-center my-5">
      Votre question n'est pas présente?
      <a href="{{ path('contactAdd') }}" class="btn btn-primary">
        Contactez-nous
      </a>
      <br />
    </div>
    <!-- - end appel à l'action │ link -->
  </div>
  {% include 'composants/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
  
{% endblock %}
